@using System.Globalization
@model HomeVM
@{
    ViewData["Title"] = "Home Page";
    @functions {
        public static string ConvertToVnd(double data)
        {
            CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
            string res = data.ToString("#,###", cul.NumberFormat);
            return res;
        }

        public static string ConvertToStar(double? star)
        {
            if (star == 0)
            {
                return "";
            }
            double? starAverage = (star * 100) / 5;
            return starAverage.ToString() + "%";
        }
    }
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
@*START CAROUSEL*@
<div class="banner_section slide_medium shop_banner_slider staggered-animation-wrap">
    <div id="carouselExampleControls" class="carousel slide carousel-fade light_arrow" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item background_bg active" data-img-src="https://www.bechtle.com/dam/jcr:7e835d15-0a75-4fd3-bb0a-bf824cdb54e4/cw44_stage1_monitors-promotion.jpg">
                <div class="banner_slide_content banner_content_inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-10">
                                <div class="banner_content overflow-hidden">
                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s" style="color:white">LED 75 INCH F58</h2>
                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="1s">Get up to <span class="text_default">50%</span> off Today Only!</h5>
                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="https://intercomp.com.mt/wp-content/uploads/2020/10/Register-Interest-iphone.jpg">
                <div class="banner_slide_content banner_content_inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-10">
                                <div class="banner_content overflow-hidden">
                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s">Smart Phones</h2>
                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" data-animation-delay="1s"><span class="text_default">50%</span> off in all products</h5>
                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item background_bg" data-img-src="https://cdn-abfjf.nitrocdn.com/UfvCeGWglEAeUwilOCVqVzwYXcjmpwqF/assets/static/optimized/rev-5ea4da1/wp-content/uploads/2020/10/Best-Headphones-for-Kids-KidsGearGuide-1920x500.jpg">
                <div class="banner_slide_content banner_content_inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-10">
                                <div class="banner_content overflow-hidden">
                                    <h2 class="staggered-animation" data-animation="slideInLeft" data-animation-delay="0.5s" style="color:white">Beat Headphone</h2>
                                    <h5 class="mb-3 mb-sm-4 staggered-animation font-weight-light" data-animation="slideInLeft" style="color:white" data-animation-delay="1s">Taking your Viewing Experience to Next Level</h5>
                                    <a class="btn btn-fill-out staggered-animation text-uppercase" href="shop-left-sidebar.html" data-animation="slideInLeft" data-animation-delay="1.5s">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev"><i class="ion-chevron-left"></i></a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next"><i class="ion-chevron-right"></i></a>
    </div>
</div>
@*END CAROUSEL*@

@*START SECTION SHOP*@
<div class="section small_pt pb_70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="heading_s4 text-center">
                    <h2>Feature Products</h2>
                </div>
                <p class="text-center leads">The outstanding products of the store recently with the attention and appreciation of the majority of customers have experienced </p>
            </div>
        </div>
        <div class="row shop_container">
            @foreach (var product in @Model.FeaturedProducts.Items)
            {
                <div class="col-lg-3 col-md-4 col-6">
                    <div class="product_box text-center">
                        <div class="product_img">
                            <a href="shop-product-detail.html">
                                @if (@product.Images.Count > 0)
                                {
                                    <img src="@(Configuration["BaseAddress"] + @product.Images[0].ImageUrl)" alt="furniture_img1">
                                }
                                else
                                {
                                    <img src="~/assets/images/product_img1.jpg" alt="furniture_img1">

                                }

                            </a>
                        </div>
                        <div class="product_info">
                            <h6 class="product_title"><a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">@product.Name</a></h6>
                            <div class="product_price">
                                <span class="price">@ConvertToVnd(product.Price)</span>
                                <del>@ConvertToVnd(30000000)</del>
                            </div>
                            <div class="rating_wrap">
                                <div class="rating">
                                    <div hidden class="product_rate" style="width: @ConvertToStar(product.StarAverage)"></div>
                                </div>
                            </div>
                            <div class="pr_desc">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc id varius nunc.</p>
                            </div>
                            <div class="add-to-cart">
                                <a href="#" class="btn btn-fill-out btn-radius btn-add-cart" data-id="@product.Id"><i class="icon-basket-loaded"></i> Add To Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*END SECTION SHOP*@
