@using System.Globalization
@model eCommerce.CustomerSite.ViewModels.CartVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cart";
    @functions {
        public static string ConvertToVnd(double data)
        {
            CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");   // try with "en-US"
            string res = data.ToString("#,###", cul.NumberFormat);
            return res;
        }
    }
}

<!-- START SECTION BREADCRUMB -->
<div class="breadcrumb_section bg_gray page-title-mini">
    <div class="container">
        <!-- STRART CONTAINER -->
        <div class="row align-items-center">
            <div class="col-12">
                <div class="page-title">
                    <h1>Shopping Cart</h1>
                </div>
            </div>

        </div>
    </div><!-- END CONTAINER-->
</div>
<!-- END SECTION BREADCRUMB -->
<!-- START MAIN CONTENT -->
<div class="main_content">

    <!-- START SECTION SHOP -->
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Items)
                                {
                                    <tr>
                                        <td class="product-thumbnail"><a href="#"><img src="assets/images/product_img1.jpg" alt="product1"></a></td>
                                        <td class="product-name" data-title="Product"><a href="#">@item.Name</a></td>
                                        <td class="product-price" data-title="Price">@ConvertToVnd(item.Price)</td>
                                        <td class="product-quantity" data-title="Quantity">
                                            <div class="quantity">
                                                <input type="button" value="-" class="minus">
                                                <input type="text" name="quantity" value="@item.Quantity" title="Qty" class="qty" size="4">
                                                @*<a asp-action="AddToCart" asp-controller="Cart">*@
                                                    <input type="button" value="+" class="plus">
                                                @*</a>*@
                                            </div>
                                        </td>
                                        <td class="product-subtotal" data-title="Total">@ConvertToVnd(Math.Round(item.Quantity * item.Price, 2))</td>
                                        <td class="product-remove" data-title="Remove"><a asp-action="RemoveItem" asp-controller="Cart" asp-route-id="@item.ProductId"><i class="ti-close"></i></a></td>
                                    </tr>
                                }


                            </tbody>
                            <tfoot>
                                @if (Model.Items.Count > 0)
                                {

                                    <tr>
                                        <td colspan="6" class="px-0">
                                            <div class="row g-0 align-items-center">

                                                <div class="col-lg-4 col-md-6 mb-3 mb-md-0">
                                                    <div class="coupon field_form input-group">
                                                        <input type="text" value="" class="form-control form-control-sm" placeholder="Enter Coupon Code..">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-fill-out btn-sm" type="submit">Apply Coupon</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-8 col-md-6  text-start  text-md-end">
                                                    <a class="btn btn-fill-out btn-sm" asp-controller="cart" asp-action="checkout" type="submit">Proceed To Checkout</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                }
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END SECTION SHOP -->
